<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.mmorpg.framework.groovy.GroovyFactory">
		<property name="directory" value="groovy"/>
		<property name="refreshCheckDelay" value="10000"/>
	</bean>
	<bean class="org.springframework.scripting.support.ScriptFactoryPostProcessor"/>

	<bean class="net.paoding.rose.jade.context.spring.JadeBeanFactoryPostProcessor"/>

	<!-- spring版本3.2.4.RELEASE xml不支持exclude和include同时配置，但底层实现代码是没有限制的，而4.3.14.RELEASE这个版本就可以 -->
	<context:component-scan base-package="com.mmorpg">
		<!--<context:exclude-filter type="annotation" expression="net.paoding.rose.jade.annotation.DAO"/>-->
		<context:include-filter type="annotation" expression="com.mmorpg.framework.listener.annotation.Listener"/>
	</context:component-scan>
</beans>
