<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.mmorpg.framework.groovy.GroovyFactory">
        <property name="directory" value="groovy"/>
        <property name="refreshCheckDelay" value="10000"/>
    </bean>
    <bean class="org.springframework.scripting.support.ScriptFactoryPostProcessor"/>
</beans>